{
    "extends": "airbnb",
    "plugins": ["jest"],
    "env": {
        "jest/globals": true,
        "browser": true,
        "node": true,
    },
    "rules": {
        "no-unused-vars": ["error", {"argsIgnorePattern": "next" }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true }],
        "react/prop-types": [0],
        "indent": [2, 4],
        "no-tabs": 0,
        "react/jsx-indent": [0, 4],
        "no-underscore-dangle": "off",
        "react/jsx-indent-props": ["error", 4],
        "function-paren-newline": "off",
        "max-len": "off",
        "no-console": "off",
    }
}
